header {
    li {
        margin: 0 20px;

        a {
            color: black;
        }
    }
}
@media (max-width: 992px) {
        header{
            .navbar-nav{
                text-align: center;
            }
            button{margin-bottom: 20px;}
        }
}